body {
  background-image: url(https://i.imgur.com/nyHEzfG.jpg);
  background-size: 100%;
}

main {
  text-align: center;
  background-color: burlywood;
  margin-left: 500px;
  margin-right: 500px;
}

div {
  text-align: center;
}
